
<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>
<h1>Orders</h1>
<% @orders.each do |o| %>
	<p>ID: <%= o.id %><br></p>
	<p>Paymethod: <%= o.paymethod %></p>
	<% o.lineitems.each do |lineitem| %>
		<%= lineitem.product.title %>
		<%= lineitem.quantity %>
		
	<%end%>
	<hr>
<%end%>


