

<p>
  <b>Customer:</b>
  <%= link_to @order.customer.name, @order.customer %>
</p>

<p>
  <b>Paymethod:</b>
  <%= @order.paymethod %>
</p>

<p>
  <b>Shipped:</b>
  <%= @order.shipped %>
</p>

<h2>Lineitems</h2>
<table>
	<% @order.lineitems.each do |item| %>
	<tr>
		<td><%= item.quantity %></td>
		<td><%= item.product.title %></td>
	</tr>
	<%end%>
</table>
<br><hr>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
